* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

html {
    overflow-x: hidden;
    background-color: #000;
}

/* Navigation Bar */

.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.navbar a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.87rem;
    position: relative;
}


.nav-logo-holder {
    width: 210px;
    height: 27px;
    position: relative;
    bottom: 5px;
    left: 2.5rem;
}

.main-logo {
    width: 100%;
    height: 100%;
    background-image: url('../Media/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-links {
    width: 800px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.nav-links a {
    margin: 0 10px;
}

.nav-links a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -4px;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-links a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.right-nav {
    width: 10%;
    /* position: relative; */
}

.right-nav button {
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
    border: none;
}

.nav-shop {
    position: absolute;
    right: 3.5rem;
}

.hamburger {
    width: 16px;
    height: 16px;
    position: fixed;
    z-index: 10;
    top: 2.5rem;
    right: 2.5rem;
    cursor: pointer;
    background: none;
    border: none;
}

.bar {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 4px;
    left: 0;
    background-color: #FFFFFF;
    transition: all 0.5s ease-in-out 0ms;
}

.bar2 {
    transform: translateY(4px);
}

.bar3 {
    transform: translateY(8px);
}

.menu-btn .bar1 {
    transform: rotate(45deg) translateX(6px) translateY(6px);
}

.menu-btn .bar2 {
    display: none;
}

.menu-btn .bar3 {
    transform: rotate(-45deg) translateX(-6px) translateY(6px);
}


/* Menu Section */

.menu-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    transition: background-color 0.5s ease-in-out;
}

.main-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 290px;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
}

/* Show menu  */

.show-menu {
    transform: translateX(0);
}

.main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 50px 0 0;
    width: 100%;
    margin-top: 20px;
}

.main-menu ul a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    font-size: 1rem;
    height: 30px;
    margin-top: 10px;
    border-bottom: 1pt solid #252525;
    transition: color 0.3s ease-in-out;
}

.main-menu ul a:hover {
    color: #aaa;
}

.stop-scrolling {
    overflow: hidden;
}

.mobile-only {
    display: none;
}


/* Hero Section */

.hero-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.hero-main {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.hero-inner-left-bottom {
    height: 180px;
    position: relative;
    bottom: 8rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.hero-inner-left-bottom p {
    font-weight: 500;
    font-size: 1.4rem;
    margin: 7px 0px;
    animation: fadeInUp 0.5s ease-in-out;
}

.hero-inner-left-bottom h1 {
    font-weight: bolder;
    font-size: 2.85rem;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
}

.hero-inner-left-bottom a {
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;

}

.hero-inner-left-bottom p,
.hero-inner-left-bottom h1,
.navbar {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.watch-btn {
    font-size: 0.9rem;
    height: 60px;
    width: 170px;
    border: 2px solid #ffffff;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.watch-btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    color: #000000;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
}

.watch-btn:hover:after {
    transform: translateY(0%);
}


.watch-btn:hover {
    font-weight: bold;
    color: #000;
}

.scroll-icon {
    opacity: 0;
    position: absolute;
    left: 50%;
    margin-bottom: 50px;
    animation: scrollArrow 4s 3s infinite;
}

/* Footer */

footer {
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footpanel span {
    font-size: 0.75rem;
    color: #ced0d3;
    font-weight: 100;
}

.footpanel {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footpanel a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out 0.5ms;
}

.footpanel a:hover {
    color: #8b939b;
}

/* Animations */

/* hero inner left fadeUp */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(140px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes bgFadeUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes scrollArrow {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 100%;
        transform: translateY(0);
    }

    75% {
        opacity: 100%;
        transform: translateY(20px);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}


/* Nav Pages */

.mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backFade {
    animation: bgFadeUp 2.5s ease-in-out;
}

.hero-mid {
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.hero-mid h1 {
    font-weight: 700;
    font-size: 5.8rem;
    margin-bottom: 20px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 0.5s ease-in-out 0.1s;
    animation-fill-mode: both;
}

.hero-mid p {
    font-size: 1rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 0.5s ease-in 0.15s;
    animation-fill-mode: both;
}

.statSection {
    height: 322px;
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentCenter {
    height: 172px;
    width: 90%;
    /* margin: 75px 0px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.statHolder {
    width: 30%;
    text-align: center;
    color: white;
}

.statHolder .number {
    /* height: 140px; */
    font-size: 130px;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.statHolder .label {
    font-size: 22px;
    text-transform: uppercase;
}

.hero-leftSection {
    position: absolute;
    height: 100%;
    width: 30%;
    left: 20%;
    color: white;
}

.hero-leftSection .title {
    margin-top: 20%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.hero-leftSection h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

.subDataTable {
    margin: 20px 0px;
    font-size: 0.875rem;
    width: 100%;
    text-transform: uppercase;
}

.subDataTable td {
    padding: 10px 0px;
    border-bottom: 1pt solid rgba(255, 255, 255, .3);
    font-weight: 700;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.subDataTable .dataProperty {
    width: 40%;
}

.subDataTable .dataValue {
    text-transform: none;
    width: 60%;
    text-align: right;
}

.subDataTable .dataValue span {
    color: #868686;
}

.hero-leftSection .details {
    font-size: 1.2rem;
    position: relative;
    top: 50px;
    line-height: 1.6;
}

.details a {
    color: #868686;
    text-decoration: none;
}

.swiper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.swipe-gallery {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swipeImg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s ease-in-out;

}

.swiper .caption {
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption button {
    background: none;
    border: none;
}

.swipeBtn {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

#leftBtn {
    left: 5%;
    transform: rotate(90deg);
}

#rightBtn {
    right: 5%;
    transform: rotate(-90deg);
}

.captionText {
    text-align: center;
    color: white;
    width: 70%;
}

.preFooter {
    height: 440px;
    position: relative;
    width: 100%;
    background-color: #000;
}

.inner-preFooter {
    height: 290px;
    width: 75%;
    margin: 75px auto;
}

.preFoot-tallLine {
    height: 140px;
    width: 1px;
    background-color: white;
    margin: 0 auto;
}

.preFoot-contactInfo {
    margin-top: 40px;
    text-align: center;
    color: #919191;
}

.preFoot-contactInfo a {
    color: white;
    text-decoration: none;
}

.preFoot-Bottom {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 90px;
}

.preFoot-Btns {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.preFoot-Btns .watch-btn {
    width: 38%;
    font-size: 14px;
    text-transform: uppercase;
}

/* Media Queries */

@media (max-width: 1199px) {

    /* Hide Menu */
    .nav-center {
        display: none;
    }

    .nav-shop {
        display: none;
    }

    .right-nav {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .navbar {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo-holder {
        height: 20px;
        left: 1rem;
        bottom: 0;
        width: 150px;
    }

    .mobile-only {
        display: block;
    }

    footer {
        position: relative;
        height: 160px;
        bottom: 0;
    }

    .footpanel {
        width: 90%;
        padding: 20px 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footpanel span {
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
    }

    .footpanel a {
        margin: 0 5px;
    }

    /* Nav Pages */

    .statSection .number {
        font-size: 5rem;
    }

    .statSection .label {
        font-size: 1rem;
    }

    .hero-leftSection {
        left: 10%;
        width: 55%;
    }

    .hero-leftSection .title {
        font-size: 1.5rem;
    }

    .hero-leftSection h2 {
        font-size: 4rem;
    }

    .subDataTable {
        margin: 30px 0;
    }

    .subDataTable td {
        padding: 20px 0;
    }

    .hero-leftSection .details {
        font-size: 1.2rem;
    }

    .preFoot-Btns {
        width: 80%;
    }

    .hamburger {
        top: 1rem;
        right: 1rem;
    }

}

@media (max-width: 600px) {

    .hero-main {
        width: 80%;
    }

    .hero-inner-left-bottom {
        bottom: 8rem;
    }

    .hero-inner-left-bottom p {
        font-size: 1.2rem;
    }

    .hero-inner-left-bottom h1 {
        font-size: 2.3rem;
    }

    /* nav pages */

    .hero-mid h1 {
        font-size: 3rem;
    }

    .hero-mid p {
        font-size: 0.75rem;
    }

    .statSection {
        height: 230px;
    }

    .statHolder .number {
        font-size: 3rem;
    }

    .statHolder .label {
        font-size: 0.75rem;
    }

    .hero-leftSection {
        left: 10%;
        width: 60%;
    }

    .hero-leftSection .title {
        font-size: 1rem;
    }

    .hero-leftSection h2 {
        font-size: 2.2rem;
    }

    .subDataTable {
        margin: 30px 0;
    }

    .subDataTable td {
        padding: 10px 0;
        font-size: 0.65rem;
    }

    .hero-leftSection .details {
        top: 0px;
        font-size: 0.8rem;
    }

    .swiper .captionText {
        font-size: 0.75rem;
    }

    .preFoot-Bottom {
        height: 150px;
    }

    .preFoot-Btns {
        width: 100%;
        flex-direction: column;
    }

    .preFoot-Btns .watch-btn {
        width: 100%;
    }
}

@media (max-width: 800px) {

    .preFoot-Btns {
        width: 100%;
    }
}


/* Under Construction Page */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(128, 126, 126);
    width: 80%;
    height: 400px;
    border: 1pt solid #333;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: lighter;
}
